//variables
$color: rgb(107, 99, 99);
$colordos: rgb(127, 148, 148);
$colortres: rgb(225, 228, 228);

.mouseHeader {
    transition: all infinite;
 }
 .mouseHeader:hover {
    background-color: $colordos;
 }
  
 .mouseFooter {
    transition: all infinite;
 }
 .mouseFooter:hover {
    background-color: $color;
  
 }
 .mouseInicio {
    transition: all infinite;
 }
 .mouseInicio:hover {
    background-color: $colortres;
 }
 .mouseEdificio {
    transition: all infinite;
 }
 .mouseEdificio:hover {
    background-color: $color;
    color: white;
  
 }
 .edificiosImagen {
    transition: all infinite;
  
 }
 .edificiosImagen:hover {
    translate: 4 -20;
  
 }